*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fff;
}
.flower-frame{
    width: 1000px;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.flower{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 700px;
    transform:scale(0.6);
    animation: rotate 5s linear infinite;
}
.leaf-body{
    position: absolute;
    left: 0;
    transform-origin: 350px;
    transform:rotate(calc(360deg/10*var(--i)));
}
.leaf-body_item{
    width: 200px;
    height: 300px;
    border-radius: 100%;
    background-color: #2f7a23;
    transform: rotate(90deg);
}
.leaf-circle{
    width: 300px;
    height: 300px;
    border-radius: 300px;
    background-color: #fff;
    z-index: 20;
}
.leaf-body:nth-child(2) .leaf-body_item{
    background-color: red;
}
.leaf-body:nth-child(3) .leaf-body_item{
    background-color: violet;
}
.leaf-body:nth-child(4) .leaf-body_item{
    background-color: blue;
}
.leaf-body:nth-child(5) .leaf-body_item{
    background-color: blueviolet;
}
.leaf-body:nth-child(6) .leaf-body_item{
    background-color: burlywood;
}
.leaf-body:nth-child(7) .leaf-body_item{
    background-color: goldenrod;
}
.leaf-body:nth-child(8) .leaf-body_item{
    background-color: yellow;
}
.leaf-body:nth-child(9) .leaf-body_item{
    background-color: brown;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg) scale(0.6);
    }
    100%{
        transform: rotate(360deg) scale(0.6);
    }
}